*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

/* utility */
.bg_blue{
  background-color: #0c325a;
}

.bg_green{
  background-color: #7cbb02;
}

.bg_grey{
  background-color: #d3d3d3;
}

.col-2{
  float: left;
  width: 50%;
}

.col-3{
  float: left;
  width: 33.33%;
}

.container{
  width: 80%;
  margin:auto;
}


a{
  text-decoration: none;
  color: white;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

/* /utility */


header#site-header{
  min-height: 500px;
}

main#site-content{
  min-height: 1000px;
}

footer#site-footer{
  min-height: 150px;
}

.nav-bar{
  /* min-height: 100px; */
  color: white;
  text-transform: uppercase;
  font-size: 1.1em; /*=11px*/
  vertical-align: middle;
  align-items: center;

}

.menu-left a:hover{
  color: orange;
}

.menu-left:after, .menu-right:after{
  content: "";
  display: table;
  clear: both;
}

.nav-bar:after{
  content: "";
  display: table;
  clear: both;
}

.logo{
  width: 15%;
  margin-top: 15px;
}

.menu-left{
 width: 45%;
}

.menu-right{
  width: 40%;
}

.menu-left a, .menu-right a{
  display: inline-block;
  height: 100%;
  padding: 10px;
  margin: 2em 0 1em 0;
}

.menu-right a{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.menu-right a:nth-of-type(1n+2) {
  margin-left: 0;
  margin-right: 1.5em;
}

.nav-bar .menu-right{}

.hero-container{
  background-image: url(../img/banner_header.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 105% 110%;
}

.hero-banner{
  height: 500px;
  position: relative;
}

.hero-text{
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-text, .hero-text a{
  color: white;
}

.hero-text h1{
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 500;
}

.hero-text a{
  font-size: 13px;
}

.btn, .light-btn{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.btn{
  padding: 1.5em;
}

.light-btn{
  border: 1px solid white;
  padding: 1em px 3em !important;
}

.header-bottom-note{
  height: 150px;
  position: relative;
}

.header-bottom-note .text{
  display: inline-block;
  width: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}

.header-bottom-note h3{
  display: inline-block;
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
  font-stretch: extra-condensed;
}

.header-bottom-note p{
  font-size: 18px;
  color: #808080;
  text-align: center;
}

.row-1{
  height: 450px;
  border-bottom: 1px solid #808080;
}

.row-2{
  height: 450px;
}

.fix:after{
  content: "";
  display: table;
  clear: both;
}

.card-3{
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.card-3 img{
  height: 150px;
}

.card-3 h4{
  font-size: 2.2em;
  margin-top: 20px;
  color: #7cbb02;
  font-weight: 500;
}

.card-3 hr{
  display: inline-block;
  margin-top: 20px;
  border-top: 1px solid #808080;
  border-bottom: 0;
  width: 80px;
  }

.card-3 p{
  color: #808080;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
}

.card-2{
  padding: 40px;
  height: 450px;
}

.container .card-2:first-of-type{
  padding-left: 60px;
}

.container .card-2:last-of-type{
  padding-right: 60px;
}

.card-2 img{
  height: 400px;
  /* text-align: center; */
}

.card-2 h4{
  font-size: 30px;
  color: black;
  font-weight: 500;
}

.card-2 p{
  color: #808080;
  margin-top: 25px;
  font-size: 18px;
}
